@import 'assets/styles/variables.module';

.root {
  display: flex;
}
.section {
  width: 100%;
}
.dragBar {
  width: 6px;
  background-color: $color-grey-500;
  cursor: ew-resize;
  flex-shrink: 0;
}
